/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.floatright {
	float:right;
}

.floatleft {
	float:left;
}

.character-compact {
	clear:both;
	background-color:#FFF2E1;
	border-style: solid;
	border-width: 2px;
	border-color: #866B26;
	padding: 10px;
}

.avatar {
	float:left;
}

.info-compact {
	padding: 10px;
	margin-left: 40px;
}