<% if signed_in? %>
  <div id="binding_form">
    <% if persona.bound?(item) %>
      <%= render 'shared/unbind', :persona => persona, :item => item %>
    <% else %>
      <%= render 'shared/bind', :persona => persona, :item => item %>
    <% end %>
  </div>
<% end %>