<%= form_for persona.bounds.build(:item_id => item.id), 
    # :remote => true 
	do |f| %> 
    <div><%= f.hidden_field :item_id %></div>
    <div class="actions"><%= f.submit "Bind" %></div>
<% end %>