<h2>Welcome!</h2>
<p>The Woshlist is a place to keep track of your characters, and the items that 
that you want. I created based on my needs, to not want to keep spreadsheets, 
and bookmarks spread through different computers. With the Woshlist, you can 
claim your own toon, keep an eye on your guildmates or stalk your favorite 
Elitist Jerk raider...
<br /><br />
Get started in three easy steps:</p>

<ul>
	<li>create an <%= link_to 'new account', signup_path %></li>
	<li>Search for your <%= link_to 'character', characters_path %></li>
	<li>Search for the <%= link_to 'items', items_path %> you want!</li>
</ul>

<p>This is a on-going project, so suggestions and comments are always welcome!</p>
