<div class = "round item-compact item_small">
  <% unless local_assigns[:persona].nil? %>	
	<div class="top right">
		<%= render 'shared/binding_form', :persona => persona,  :item => item %>
	</div>
  <% end %>
	<div class="left">
		<%= icon_image item.icon, :size => "40x40" %>
	</div>
  <% if local_assigns[:persona] && persona.is_a?(Relationship) 
	   persona.character.create_inventory.each 
	
	 end
	%>
	<div class="info-compact <%= Battlenet::quality[item.quality] %> item"> 
		<strong><%= link_to_item item %></strong><br />
	</div>
</div>