<div class = "round item-compact">
	<div class="top right">
		<%= render 'shared/binding_form', :persona => persona,  :item => item %>
	</div>
	<div class="left">
		<%= icon_image item.icon, :size => "40x40" %>
	</div>
	<div class="info-compact"> 
		<strong><%= link_to item.name, item %></strong><br />
	</div>
</div>