<footer>
  <hr />
  <h2 class="alt">
    An on-going project by <%= link_to 'Juan Delgado', 'http://www.darksoda.com' %>, 
    located @ <%= link_to 'github', 'https://github.com/roloenusa/wow-wishlist' %>.
  </h2>
  <%= debug (params) if Rails.env.development? %>
</footer>